{% extends "layout.html" %}
{% block title %}Para Yatırma Geçmişi{% endblock %}
{% block content %}
<main>
    <header class="page-header">
        <a href="{{ url_for('mine') }}" class="back-arrow"><i class="fas fa-chevron-left"></i></a>
        <h1>Deposit records</h1>
    </header>
    <div class="content">
        {% for record in records %}
        <div class="record-item">
            <div class="record-details">
                <p class="record-id">{{ record.type|capitalize }} <span style="font-weight:bold; color: #f59e0b;">{{ record.status }}</span></p>
                <p class="record-timestamp">{{ record.formatted_time }}</p>
            </div>
            <div class="record-info">
                <p class="record-amount" style="color: var(--success-color);">+ {{ "%.2f"|format(record.amount) }} USDT</p>
            </div>
        </div>
        {% else %}
        <p class="no-data-message">No deposit records found.</p>
        {% endfor %}
    </div>
</main>
{% endblock %}