{% extends "layout.html" %}
{% block title %}Profil Ayarları{% endblock %}
{% block content %}
<main>
    <header class="page-header">
        <a href="{{ url_for('mine') }}" class="back-arrow"><i class="fas fa-chevron-left"></i></a>
        <h1>Profile</h1>
    </header>
    <div class="main-menu-container content">
        <div class="list-item">
            <span>Username</span>
            <span>{{ user.username }}</span>
        </div>
        <div class="list-item">
            <span>VIP Level</span>
            <span>{{ user.vip_level }}</span>
        </div>
        <div class="list-item">
            <span>Balance</span>
            <span>{{ "%.2f"|format(user.balance) }} USDT</span>
        </div>
    </div>
</main>
{% endblock %}