{% extends "layout.html" %}

{% block title %}Customer Service{% endblock %}

{% block content %}
<main>
    <header class="page-header">
         <a href="{{ url_for('home') }}" class="back-arrow"><i class="fas fa-chevron-left"></i></a>
        <h1>Customer Service</h1>
    </header>

    <img src="{{ url_for('static', filename='images/customer_service_header.png') }}" alt="Customer Service" class="service-header-image" style="width:100%;">
    <div class="main-menu-container content">
         <a href="https://wa.me/message/QTJZYCLU4DK4K1" target="_blank" class="list-item">
            <span><i class="fas fa-headset"></i> Online customer service</span>
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</main>
{% endblock %}