{% extends "layout.html" %}

{% block title %}{{ text['setting'] }}{% endblock %}

{% block content %}
<main>
    <header class="page-header">
        <a href="{{ url_for('mine') }}" class="back-arrow"><i class="fas fa-chevron-left"></i></a>
        <h1>{{ text['setting'] }}</h1>
    </header>
    <div class="main-menu-container content">
        <h3>{{ text['language_settings'] }}</h3>
        {% for language in languages %}
            <a href="{{ url_for('set_language', lang=language.code) }}" class="list-item">
                <span><span class="flag-icon flag-icon-{{ language.flag }}"></span> {{ language.name }}</span>
                {% if lang == language.code %}
                    <i class="fas fa-check" style="color: var(--success-color);"></i>
                {% endif %}
            </a>
        {% endfor %}
    </div>
    <div style="padding: 0 15px;">
        <a href="{{ url_for('logout') }}" class="btn-primary" style="background: var(--danger-color); box-shadow:none;">Logout</a>
    </div>
</main>
{% endblock %}