{% extends "layout.html" %}

{% block title %}Cüzdan Yönetimi{% endblock %}

{% block content %}
<main>
    <header class="page-header">
        <a href="{{ url_for('mine') }}" class="back-arrow"><i class="fas fa-chevron-left"></i></a>
        <h1>Wallet management</h1>
    </header>

    <div class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% for wallet in wallets %}
        <div class="wallet-list-item">
            <p><strong>{{ wallet.name }}</strong> ({{ wallet.protocol }})</p>
            <p style="word-wrap: break-word;">{{ wallet.address }}</p>
        </div>
        {% else %}
        <p class="no-data-message">Henüz eklenmiş bir cüzdanınız yok.</p>
        {% endfor %}

        <a href="{{ url_for('add_wallet') }}" class="add-wallet-button">
            <i class="fas fa-plus"></i> Add e-wallet
        </a>
    </div>
</main>
{% endblock %}